.search {
    text-align: center;
}

.search > button {
    background-color: rgba(255, 165, 0, 0.47);
    border: none;
    border-radius: 5px;
    padding: .5em;
}

.search > input {
    padding: 0.4em;
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3em;
}

.video-thumb {
    margin: 1.5em;
    overflow: hidden;
    position: relative;
}



.slide-info {
    background-color: rgba(0, 0, 0, 0.7);
    height: 98.4%;
    left: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: left .5s cubic-bezier(0, 0, 0.29, 1.43);
    -moz-transition: left .5s cubic-bezier(0, 0, 0.29, 1.43);
    transition: left .5s cubic-bezier(0, 0, 0.29, 1.43);
}

.slide-info > p {
    padding: 10%;
    font-size: 1.2em;
    color: whitesmoke;
}

.video-thumb:hover > .slide-info {
    left: 0;
}