<form (submit)="getResults(searchTerm.value)" class="search">
  <h1>Benny Hill Video Converter</h1>
  <input #searchTerm type="text" placeholder="Search YouTube...">
  <button type="submit">Search</button>
</form>

<div class="search-results">
  <div class="video-thumb" *ngFor="let video of videos"  (click)="playVideo(info.value)">
    <input #info [value]="video.id.videoId" hidden>
    <img [src]="video.snippet.thumbnails.medium.url">
    <div class="slide-info">
      <p>{{video.snippet.title}}</p>
    </div>
  </div>
</div>

<div *ngIf="showVideo">
  <app-video-player [videoId]="youtubeId" (closeVideo)="closedVideo($event)"></app-video-player>
</div>