<form (submit)="getResults(searchTerm.value)" class="search">
  <h1>Benny Hill Video Converter</h1>
  <input #searchTerm type="text" placeholder="Search YouTube...">
  <button type="submit">Search</button>
</form>

<div *ngIf="videos.length === 0" class="welcome">
  <h3>Use the search bar above to discover that all videos are better in a Benny Hill Style</h3>
  <h4>If you need inspiration, general fails work well but personally I'm a fan of the horror movie chase scenes.</h4>
</div>

<div *ngIf="videos.length !== 0" class="search-results">
  <div class="video-thumb" *ngFor="let video of videos"  (click)="playVideo(info.value)">
    <input #info [value]="video.id.videoId" hidden>
    <img [src]="video.snippet.thumbnails.medium.url">
    <div class="slide-info">
      <p>{{video.snippet.title}}</p>
    </div>
  </div>
</div>

<div *ngIf="showVideo">
  <app-video-player [videoId]="youtubeId" (closeVideo)="closedVideo($event)"></app-video-player>
</div>